.IshopFrame {
    border: 2px solid black;
    min-width: 60%;
}

.IshopText,
.IshopTableHead {
    color: green;
    border: 1px solid blue;
    text-align: center;
    height: 10vh;
}

.IshopImg {
    height: 100%;
    transition: 1s;
}

.IshopImg:hover {
    transform: scale(1.1);
}

input {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.IshopTableHead,
.IshopName {
    height: auto;
    color: blue;
    text-transform: uppercase;
}

.IshopCaption {
    height: 5vh;
}

.IshopName {
    color: red;
    font-size: 2em;
    ;
}

._number {
    width: 5vw;
}

._active {
    background-color: rgba(255, 0, 0, 0.5);
}