.ClientFrames{
    text-align: center;   
}

.ClientFrame input{
    width: 100%;    
    border: 1px solid;
}
._active{
    background-color: green;
}
._blocked{
    background-color: red;
}
._button{
    width: 100%;
}