.ProductCardText{
    margin: 0px 5px;

}
._input{
    color: black;
    margin-left: 10px;
    text-transform: none;
    width: 400px;
}
.ProductCardPositions{
    display: flex;
}
._inputButton{
    margin: 0 auto;
    width: 100%;
}
.ProductCardButtonChange{
    width: 100%;
}
._displayButtonOn{
    display: block;
}
._displayButtonOff{
    display: none;
}